

.container{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 5fr 0.2fr; 
    grid-template-areas: 
    "header header header "
    "sidebar navbar  ads"
    "sidebar main  ads"
    "sidebar main  ads"
    "footer footer footer"
    ;
    grid-gap: 2rem;
    font-family: sans-serif;
   
}




header{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: header
}

#navbar{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: navbar
}

main{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: main
}

#sidebar{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: sidebar
}

#ads{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: ads
}

footer{
    background-color:white;
    border-radius: 20px;
    padding: 20px ;
    border-color: red;
    border-style: solid;
    grid-area: footer
} 


@media  screen and (max-width: 750px)
{
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 2fr  5fr;
        grid-template-rows: 0.2fr 0.2fr 7fr 0.2fr; 
        grid-template-areas: 
        "header  header "
        "navbar navbar "
        "sidebar main "
        "ads footer";
        grid-gap: 2rem;
    }

}



@media  screen  and (max-width: 450px) {
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 4fr;
        grid-template-rows: 0.2fr 0.2fr 3fr 0.2fr 0.2fr 0.2fr; 
        grid-template-areas: 
        "header "
        "navbar"
        "main"
        "sidebar"
        "ads"
        "footer"
        ;
        grid-gap: 2rem;
    }

}